<!DOCTYPE html>
<html>
<head>
  <title>Anypixel App</title>
  <base href="<%= app.base %>" target="_blank">
  <style>
    body {
      margin: 0;
      background-color: #FFF;
    }

    .canvas_container {
      text-align: center;
    }

    #button-canvas {
      margin: 0;
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <div class="canvas_container">
    <canvas id="button-canvas" hidpi="off" width="140" height="42"></canvas>
  </div>
  <!-- JS: Buttonwall -->
  <script src="/js/index.js"></script>

  <!-- JS: App -->
  <script src="<%= app.path %>"></script>
</body>
</html>